<div class="card bg-light">
  <article class="card-body mx-auto" style="width: 400px; max-width: 600px;">
    <h4 class="card-title mt-3 text-center">Signup</h4>

    <%= render 'devise/registrations/form', user: @user %>
  </article>
</div>
