<div class="card bg-light">
  <article class="card-body mx-auto">
    <h4 class="card-title mt-3 text-center">Your Profile</h4>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <a href="#" class="btn btn-primary btn-block btn-lg">Start App</a>

  </article>
</div>
